<!DOCTYPE html>
<html>
<head>
  <title>EventSchedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min', 'application' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min', 'application' %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" %>
</head>
<body>
<% flash.each do |name,msg|%>
<%= content_tag :div, msg,:id => "flash_#{name}"%>
<%end%>

<%= yield %></br>

<div class="row" style="background-color:black">
<div class="col-md-3"></div>
<div class="col-md-6">
<footer>
 
  <p style="text-align:center">@copyrights 2007 .All rights reserved</p>
</footer>
</div>
<div class="col-md-3"></div>

</body>
</html>
