<!DOCTYPE html>
<html>
<head>
  <title>EventSchedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min', 'application' %>
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min', 'application' %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" %>
</head>
<body>
<header>
<!-- <h1>event scheduler</h1> -->
<div class="img1">
 <%= image_tag("logo2.png") %></div>
<div class="left">
<div id="user_nav">
 <% if current_user %>
   Logged in as <%= current_user.username %>.
   <%= link_to '<button type="button">Log Out</button>'.html_safe, log_out_path %>
 <% else %>
  <%= link_to '<button type="button">Sign Up </button>'.html_safe, sign_up_path %>
 <%= link_to '<button type="button">Log In</button>'.html_safe, login_new_path %>
 <% end %>
</div>
</div>
</header>


<%= yield %></br></br></br></br></br></br></br></br></br></br></br></br>


<footer>
 
  <p style="text-align:center;background-color:grey;">@copyrights 2016.All rights reserved</p>
  

</footer>
</div>


</body>
</html>
